﻿<!DOCTYPE html>
<html>

<head>
    <title>PW</title>
    @Styles.Render("~/Content/css")
</head>

<body ng-app="ClientAngular" ng-controller="BaseController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#/login" ng-if="!loggedIn()" ng-bind-template="Вход"></a></li>
                    <li><a href="/#/register" ng-if="!loggedIn()" ng-bind-template="Регистрация"></a></li>
                    <li>
                        <h4><span class="label" ng-if="loggedIn()" ng-bind="name()"></span></h4>
                    </li>
                    <li>
                        <h4><span class="label label-info" ng-if="loggedIn()" ng-bind-template="{{balance()}}$"></span></h4>
</li>
                </ul>
                <div ng-controller="LoginController">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ng-disabled="loginForm.isLoading" href="" ng-click="logout()" ng-if="loggedIn()" ng-bind-template="Выйти"></a>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content" >
        <br />
        <div class="row">
            <div ng-view>
            </div>
        </div>
        <br />
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="label label-warning">
                PW created by VAS - @DateTime.Now.Year
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/smarttable")
    @Scripts.Render("~/bundles/scriptsng")
</body>

</html>