﻿
 <div class="col-md-4 col-md-offset-4">
        <form role="form" ng-submit="login()">
            <div class="form-group">
                <label for="username">Имя</label>
                <input type="text" class="form-control" id="username" placeholder="Введите имя пользователя" ng-model="loginForm.username">
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" placeholder="Введите пароль" ng-model="loginForm.password">
            </div>
            <p class="alert alert-danger" ng-if="loginForm.errorMessage" ng-bind="loginForm.errorMessage"></p> 
            <button ng-disabled="loginForm.isLoading" type="submit" class="btn btn-default">Вход</button>         
            <div ng-show="loginForm.isLoading" class="loading-indicator"></div>
        </form>
    </div>

