﻿<div class="col-md-10 col-md-offset-1" ng-show="loggedIn()">
    <div  ng-init="init()" >
        <div class="form-group">
            <div auto-complete
                 id="selectName"
                 placeholder="Поиск имени"
                 source="mainForm.autoUsers"
                 selected-result="selectUser"
                 select-handler="selectHandler"></div>
        </div>
        <div class="form-group">
            <label for="recipientName">Получатель</label>
            <input ng-type="text" ng-readonly="true"  class="form-control" id="recipientName" placeholder="Имя" ng-model="mainForm.recipientName">
        </div>
        <div class="form-group">
            <label for="amount">Сумма перевода</label>
            <input ng-type="text" class="form-control" id="amount" placeholder="В долларах" ng-model="mainForm.amount">
        </div>
        <div ng-if="mainForm.modelState" class="alert alert-info">
            <ul>
                <li ng-repeat="state in mainForm.modelState">{{state}}</li>
            </ul>
        </div>
        <p class="alert alert-danger" ng-if="mainForm.errorMessage" >{{mainForm.errorMessage}}</p>
        <button  ng-disabled="mainForm.isLoading" class="btn btn-default" ng-click="createOperations()">Отправить</button>
        <div ng-show="mainForm.isLoading" class="loading-indicator"></div>
    </div>
    <br />
    <table st-table="mainForm.displayOperations" st-safe-src="mainForm.operations" class="table">
        <thead>
            <tr>
                <th st-sort="senderName">Отправитель</th>
                <th st-sort="recipientName">Получатель</th>
                <th st-sort="amount">Перевод</th>
                <th st-sort="balance">Баланс</th>
                <th st-sort-default="reverse" st-sort="date">Дата</th>
            </tr>
            <tr>
                <th><input st-search="senderName" placeholder="поиск по отправителю" class="input-sm form-control" type="search" /></th>
                <th><input st-search="recipientName" placeholder="по получателю" class="input-sm form-control" type="search" /></th>
                <th><input st-search="amount" placeholder="по сумме" class="input-sm form-control" type="search" /></th>
                <th><input st-search="balance" placeholder="по балансу" class="input-sm form-control" type="search" /></th>
                <th><input st-search="date" placeholder="по дате" class="input-sm form-control" type="search" /></th>
            </tr>
        </thead>
        <tbody>
            <tr st-select-row-ex="row" st-selected="historySelected(row)" st-select-mode="single" ng-repeat="row in mainForm.displayOperations">
                <td>{{row.senderName}}</td>
                <td>{{row.recipientName}}</td>
                <td>{{row.amount | currency}}</td>
                <td>{{row.balance | currency}}</td>
                <td>{{row.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
