﻿<div class="col-md-4 col-md-offset-4 ">
    <form role="form" ng-submit="register()">
        <div class="form-group">
            <label for="username">Имя</label>
            <input type="text" class="form-control" id="username" placeholder="Имя пользователя" ng-model="registerForm.username">
        </div>
        <div class="form-group">
            <label for="emailAddress">Почта</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="user@domen.ru" ng-model="registerForm.email">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" placeholder="не менее 6 знаков" ng-model="registerForm.password">
        </div>
        <div class="form-group">
            <label for="password">Подтверждение</label>
            <input type="password" class="form-control" id="password" placeholder="должен совпадать с паролем" ng-model="registerForm.confirmPassword">
        </div>
        <div ng-if="registerForm.modelState" class="alert alert-info">
            <ul>
                <li ng-repeat="state in registerForm.modelState">{{state}}</li>
            </ul>
        </div>
        <p class="alert alert-danger" ng-if="registerForm.errorMessage">{{registerForm.errorMessage}}</p>
        <button ng-disabled="registerForm.isLoading" type="submit" class="btn btn-default">Регистрация</button>
        <div ng-show="registerForm.isLoading" class="loading-indicator"></div>
    </form>
</div>

